  body {
    background-color: rgb(243, 178, 232);
  display: block;
  margin: 8px;
  color: white;
  body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);

  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}
  }